"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
palette = "github_dark"

# Inserts a blank line between shell prompts
add_newline = true

# Put time on the right side
# https://starship.rs/config/#prompt
right_format = '''$time$battery'''

# Starship modules

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](gray)"   # For use with zsh-vi-mode

[directory]
truncation_length = 4
style = "bold blue"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
"node_modules" = ""
".github" = ""

[[battery.display]]
threshold = 10
style = 'red'

[[battery.display]]
threshold = 30
style = 'yellow'

[time]
disabled = false
time_format = "%R"                         # Hour:Minute Format
style = "fg:yellow"
format = '[[   $time ](fg:gray)]($style)'

[package]
disabled = true

# Languages and indicator styles

[git_branch]
style = "orange"

[git_status]
style = "red"

[docker_context]
disabled = true

[java]
symbol = "☕"
version_format = "${major}"
style = "orange"

[nodejs]
symbol = " "
version_format = "${major}"
style = "green"

[golang]
symbol = " "
version_format = "${major}.${minor}"
style = "blue"

[elixir]
symbol = " "
version_format = "${major}.${minor}"
style = "violet"

[erlang]
symbol = "  "
version_format = "${major}"
style = "pink"

[gradle]
symbol = " "
version_format = "${major}"
style = "blue"

[kotlin]
symbol = " "
version_format = "${major}"
style = "violet"

[scala]
symbol = " "
style = "orange"

[rust]
symbol = " "
style = "red"

[bun]
symbol = " "
style = "pink"

[nix_shell]
symbol = "❄️ "
style = "blue"

# Palette definitions

[palettes.github_dark]
blue = "#4493f8"
green = "#3fb950"
yellow = "#d29922"
orange = "#000000ff"
red = "#f85149"
violet = "#ab7df8"
pink = "#db61a2"
gray = "#59636e"
