"$schema" = 'https://starship.rs/config-schema.json'

# Sets user-defined palette
palette = "github_dark"

# Inserts a blank line between shell prompts
add_newline = true

# Starship modules

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](gray)"

[directory]
truncation_length = 4
style = "bold blue"

[package]
disabled = true

# Git

[git_branch]
style = "orange"

[git_status]
style = "red"

[docker_context]
disabled = true

# Languages

[c]
symbol = " "
style = "blue"

[golang]
symbol = " "
style = "blue"

[gradle]
symbol = " "
style = "blue"

[java]
symbol = " "
style = "orange"

[kotlin]
symbol = " "
style = "violet"

[python]
symbol = " "
style = "yellow"

[bun]
symbol = " "
style = "pink"

[nix_shell]
symbol = "󱄅 "
style = "blue"

# Palette definitions

[palettes.github_dark]
blue = "#4493f8"
green = "#3fb950"
yellow = "#d29922"
orange = "#db6d28"
red = "#f85149"
violet = "#ab7df8"
pink = "#db61a2"
gray = "#59636e"
